@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
$font-family: "Righteous", cursive;

$root: ".c-rainbow";

:root {
  --color-background: #512597;

  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;

  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;

  --color-foreground: var(--color-white);
  --font-name: Righteous;
}

html,
body {
  font-size: 3em;
}

body {
  background-color: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-name);

  height: 100vh;
}

#{$root} {
  counter-reset: rainbow;
  position: relative;
  display: block;

  list-style: none;

  padding: 0;
  margin: 0;

  &__layer {
    --text-color: var(--color-foreground);
    counter-increment: rainbow;
    font-size: 3rem;
    color: var(--text-color);

    text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black),
      -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black),
      4px 4px 0 rgba(0, 0, 0, 0.2);

    animation: rainbow 1.5s ease-in-out infinite;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: calc(#{$i} / var(--delay) * 1s);
        left: calc(var(--axis-x) * #{$i});
        z-index: -#{$i * 10};
      }
    }

    &:not(:first-child) {
      position: absolute;
      top: 0;
    }

    &--white {
      --text-color: var(--color-white);
    }
    &--orange {
      --text-color: var(--color-orange);
    }
    &--red {
      --text-color: var(--color-red);
    }
    &--violet {
      --text-color: var(--color-violet);
    }
    &--blue {
      --text-color: var(--color-blue);
    }
    &--green {
      --text-color: var(--color-green);
    }
    &--yellow {
      --text-color: var(--color-yellow);
    }
  }
}

@keyframes rainbow {
  0%,
  100% {
    transform: translatey(var(--axis-y));
  }
  50% {
    transform: translatey(calc(var(--axis-y) * -1));
  }
}

/* ======= M E D I A  Q U E R I E S ===== */
@media screen and (max-width: 480px) {
  html {
    height: -webkit-fill-available;
  }
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    ul {
      width: 100%;
      li {
        font-size: 2em;
      }
    }
  }
}


@media screen and (max-width: 580px) {
  html {
    height: -webkit-fill-available;
  }
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    ul {
      width: 100%;
      li {
        font-size: 2.5em;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  html {
    height: -webkit-fill-available;
  }
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    ul {
      width: 100%;
      li {
        font-size: 3.3em;
      }
    }
  }
}
